* {
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	font-family: 'Mukta', sans-serif;
	/* font-family: 'Quicksand', sans-serif;
	font-family: 'Montserrat', sans-serif; */
	font-weight: 200;
	font-size: 16px;
	color: white;
}
html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}
a {
	text-decoration: none;
	color: #555;
}
ul, ol {
	list-style: none;
	display: inline-block;
}

body {
	background-color: #333;
}

// Simple Lightbo

.lightbox-opened:before {
	color: #eee;
	content: "x";
	font-family: sans-serif;
	padding: 6px 12px;
	position: fixed;
	text-transform: uppercase;
	position: absolute;
    top: 95px;
    font-weight: 800;
    right: 64px;
}

.lightbox-opened img {
	margin-top: 0;
	max-width: 80%;
	max-height: 80%;
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
header {
	padding: 10px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	color: white;
	z-index: 101;
	background-color: #333;
}
.index header {
background: none;
}
.nav-brand {
	max-width: 100px;
}
.nav-brand.dynamic {
	display: none;
}
header.sticky .nav-brand.dynamic {
	display: inline-block;
}
header.sticky .nav-brand.static {
	display: none;
}
header.sticky {
	position: fixed;
	background-color: rgba(255,255,255,0.92);
}

header.sticky ul.menu li a,
header.sticky .bgmusic li,
header.sticky .bgmusic li i,
header.sticky i {
	color: #333;
}
header.sticky .mobile-menu .menu {
	background: none;
}
.nav-brand img {
	margin-top: 8px;
	max-width: 100px;
	vertical-align: top;
	display: inline-block;
}
.classy-menu {
	vertical-align: top;
	display: inline-block;
	width: calc(100% - 105px);
}
.classynav {
	height: 50px;
}
.menu {
	float: right;
	width: 435px;
	padding-right: 20px;
	margin: 12px 0;
	li {
		display: inline-block;
		width: auto;
		padding-left: 20px;
		a {
			color: white;
		}
		&:hover a {
			color: #bbb;
		}
	}
}

.dropdown {
	display: none;
	position: absolute;
	border-radius: 10px;
	background-color: rgba(255,255,255,1);
	padding: 5px;
	min-width: 90px;
	li {
		display: block;
		color: #333;
		padding: 2px 5px;
		a {
			color: #333 !important;
			&:hover {
			color: #333 !important;
			font-weight: 800;
			}
		}
	}
}
.hero-area {
	width: 100%;
	height: 102%;
}
#slider {
	position: relative;
	width: 100%;
	height: 100%;
	margin-top: -34px;
}
#slider ul {
	position: relative;
	width: 100%;
	height: 100%;
	padding-left: 0;
	background-color: #333;
}
#slider ul li {
}

.bg-img {
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
}
.bgmusic {
	display: inline-block;
	margin: 12px 0;
}
.bgmusic li {
	float: left;
	margin-right: 20px;
	cursor: pointer;
}


.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: #333;
}
.se-pre-con img {
	position: relative;
	top: 50%;
	left: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translate(-50%);
}

.home-info {
	position: absolute;
	top: 40%;
	left: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translate(-50%);
	z-index: 2;
	width: 100%;
	p {
		color: white;
		font-weight: 600;
		text-align: center;
		font-size: 20px;
	    letter-spacing: 3px;
		text-shadow: 1px 1px 2px #333;
	}
	h1 {
		text-align: center;
	    color: white;
	    font-size: 42px;
	    text-shadow: 1px 1px 2px #333;
	    text-transform: uppercase;
	    letter-spacing: 5px;
	}
}


/* Slideshow container */
.slideshow-container, .gallery-main-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 50px;
  border-radius: 3px 0 0 3px;
}
.prev {
	left: 50px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
.contact-details {
	margin-top: 74px;
	margin-bottom: 30px;
	.contact-area {
	    padding: 0 20px;
		}
	.details {
		display: inline-block;
		vertical-align: top;
		@media (max-width: 1024px)
		{
			width: 100%;
		}
	}
	.map {
		display: inline-block;
		width: 49%;
		vertical-align: top;
	}
	h3 {
		width: 100%;
	}
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.footer-area {
	margin-top: 20px;
	background-color: #333;
	color: white;
}

.copywrite-text {
	padding-left: 10px;
	padding-bottom: 0;
	margin-bottom: 0;
	color: white;
}
.copywrite-text a {
	color: white;
}

.footer-nav ul {
	padding-left: 10px;
}
.footer-nav ul li a {
	color: white;
}
.footer-nav ul li {
	display: inline-block;
	padding-right: 10px;
	color: white;
}
.contact-form-area form {
	width: 100%;
}
.contact-form-area form .col-lg-6 {
	width: 49.7%;
	display: inline-block;
	@media (max-width: 1024px) {
		width: 100%;
	}
}
.contact-form-area form .col-md-12 {
	width: 100%;
}
.contact-form-area form input, .contact-form-area form textarea {
	color: black;
}
.contact-form-area form #id_email,
.contact-form-area form #id_subject,
.contact-form-area form #id_number,
.contact-form-area form #id_item,
.contact-form-area form #id_message,
.contact-form-area form #id_adres_to_send,
.contact-form-area form #id_name_on_disk {
	width: 100%;
	border-radius: 4px;
	padding: 10px;
	border: 1px solid #ddd;
	margin-bottom: 15px;
}

.contact-form-area form #id_message,
.contact-form-area form #id_adres_to_send, {
	height: 200px;
}

button {
	padding: 10px;
	background: #333;
	border: none;
	color: white;
	border-radius: 4px;
	font-weight: 600;
	cursor: pointer;
	border: 1px solid white;
}
button:hover {
	background-color: #555;
}
h3 {
	font-size: 22px;
	font-weight: 600;
}
h4 {
	font-size: 18px;
	font-weight: 600;
	text-align: center;
}
.gallery {
	padding: 20px;
	margin-top: 74px;
}
.album1, .album2, .album3 {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
}
.album1 h2, .album2 h2, .album3 h2 {
	text-align: center;
}
.album1 .image, .album2 .image, .album3 .image {
	width: 47.7%;
	display: inline-block;
}
.album1 img, .album2 img, .album3 img {
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
}
.album1 img, .album1 .details, .album2 img, .album2 .details, .album3 img, .album3 .details {
	display: inline-block;
	width: 47.7%;
	vertical-align: top;
}
.album2 .details, .album1 .details, .album3 .details {
	color: #ddd;
	text-align: justify;
}
.album1 h2, .album2 h2, .album3 h2 {
	color: #ddd;
}
.album1 img, .album2 img, .album3 img {
	height: 100%;
	width: calc(100% - 20px);
	margin: 20px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
}
.album2 img {
	padding-right: 0;
	float: right;
}
.preorder {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	@media (max-width: 1024px) {
		width: 100%;
	}
}
.preview {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	@media (max-width: 1024px) {
		width: 100%;
	}
}
.lists {
	width: 100%;
	text-align: left;
	h4 {
		text-align: left;
		margin-top: 10px;
		margin-bottom: 5px;
	}
	ul {
		margin-top: 0;
		padding-left: 0;
	}
}
@media (max-width: 1024px)
{
	.about-us .details {
		width: 100%;
		margin-top: 0;
	}
	.about-us .image {
		width: 100%;
	}
	.gallery-main-container .img {
		width: 100%;
	}
	.preorder, .preview, .lists,
	.album1, .album2, .album3 {
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}
	.album1 img, .album1 .details, .album2 img, .album2 .details, .album3 img, .album3 .details {
		width: 100%;
	}
	.album1 .image, .album2 .image, .album3 .image {
		width: 100%;
		display: inline-block;
	}
	.album1 img, .album2 img, .album3 img {
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
}
.more a {
	font-size: 12px;
	color: #ddd;
}

img {
  max-width: 100%;
}

// No Background Scroll

.no-scroll {
  overflow: hidden;
}

.lightbox-opened {
	padding-top: 100px;
	background-color: #333;
	background-color: rgba(0,0,0, 0.9);
	cursor: pointer;
	height: 100%;
	left: 0;
	padding: 24px;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
}

.slideshow-container .img {
	width: 200px;
	height: 200px;
	display: inline-block;
	float: left;
	overflow: hidden;
	padding: 10px;
	border-radius: 10px;
}
.slideshow-container .img .image-el {
		height: 100%;
		width: 100%;
		display: block;
		background-repeat: no-repeat;
		background-size: 170%;
		background-position: center;
		border-radius: 10px;
}
.slideshow-container .img .image-el:hover {
	opacity: 0.7;
}
.clear {
	clear: both;
}
.gallery-main-container {
	margin-top: 85px;
}
.gallery-main-container .img {
	width: 33%;
	height: 300px;
	display: inline-block;
	padding: 10px;
	position: relative;
	z-index: 2;
}
.gallery-main-container .img p {
	position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -80%);
	color: white;
	text-shadow: 1px 1px 2px #333;
	font-size: 30px;
}
.gallery-main-container .img:hover p {
	font-size: 30px;
	font-weight: 800;
}
.gallery-main-container .img .placeholder-img {
	background: grey;
	top: 5px;
	position: absolute;
	width: 100%;
	display: block;
	left: 5px;
	width: calc(100% - 20px);
	height: 280px;
	border-radius: 10px;
	z-index: -1;
}
.gallery-main-container .img .placeholder-img-2 {
	background: #555;
	top: 0;
	position: absolute;
	width: 100%;
	display: block;
	left: 0;
	width: calc(100% - 20px);
	height: 280px;
	border-radius: 10px;
	z-index: -1;
}
.gallery-main-container .img .image-el {
    height: 100%;
    width: 100%;
    display: block;
    background-repeat: no-repeat;
    background-size: 170%;
    background-position: center;
    border-radius: 10px;
}

.nav-dropdown:hover ul.dropdown {
	display: block;
}

.nav-dropdown:hover ul.dropdown li a {
	color: white;
}
.video iframe {
	width: 100%;
	min-height: 430px;
}
b {
	font-weight: 600;
}
.about-page {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	@media (max-width: 1024px) {
		width: 100%;
	}
	.container .row {
		margin-top: 30px;
	}
	h3 {
		margin-top: 0;
	}
	.about-us {
		padding: 20px;
		.details {
			display: inline-block;
			width: 49.7%;
			vertical-align: top;
			padding: 20px;
			margin-top: 0;
			@media (max-width: 1024px){
				width: 100%;
			}
		}
		.details p {
			text-align: justify;
		}
		.image {
			display: inline-block;
			vertical-align: top;
			margin-top: 0;
			width: 49.7%;
			padding: 20px;
			img {
				border-radius: 10px;
			}
			@media (max-width: 1024px){
				width: 100%;
			}
		}
	}
}
.link-to-preoreder {
	font-weight: 600;
	text-align: center;
	display: block;
	font-size: 30px;
	color: white;
	letter-spacing: 3px;
}
.phrase-0 p {
	font-size: 30px;
}
.preorder-btn {
	font-weight: 400 !important;
	position: absolute;
	font-size: 16px;
	top: 17px;
	right: 450px;
	font-weight: 600;
	border-radius: 4px;
	padding: 3px 10px;
	border: 2px solid white;
	color: white;
}
.preorder-btn:hover {
	background-color: #aaa;
}

header.sticky .preorder-btn {
	border: 2px solid #333;
	color: #333;
}
.price {
	display: block;
	font-weight: 600;
	font-size: 22px;
	text-align: left;
	margin-bottom: 20px;
}
.account-num {
	text-align: left;
	font-size: 16px;
	color: #ccc;
	.num {
		display: block;
		font-size: 22px;
		font-weight: 600;
	}
}
.order {
	display: block;
	margin-top: 20px;
	font-weight: 600;
	font-size: 22px;
}
@media (max-width: 1024px)
{
	.gallery-main-container .img {
		width: 100%;
	}
	.preorder-btn {
		right: 390px;
	}
}
.gallery .se-pre-con {
	background: none;
	top: -115px;
}
.gallery .slideshow-container {

}
.hamburger {
	display: none;
}
.mobile-menu .menu {
	width: 100%;
	background: rgba(255,255,255,0.8);
	border-radius: 10px;
	padding-left: 0;
}
.mobile-menu .menu li {
	width: 100%;
	display: block;
	padding: 5px;

	padding-left: 15px;
}
.mobile-menu .menu li a {
	color: #333;
}
.mobile-menu .menu .sub {
	display: block;
	padding-left: 0;
}
@media (max-width: 480px)
{
	.slideshow-container .img {
		margin-left: auto;
		margin-right: auto;
		display: block;
		float: none;
	    width: 280px;
	    height: 280px;
	}
}
@media (max-width: 786px)
{

	.hamburger {
		display: inline-block;
	    font-size: 32px;
	    float: right;
		cursor: pointer;
		position: absolute;
		top: 10px;
		right: 10px;
	}
	.classy-menu .menu {
		display: none;
	}
	.preorder-btn {
		right: 80px;
	}
}

.contact-social-info i {
	font-size: 30px;
	padding: 0 5px;
}
.album1 .details i {
		font-size: 30px;
}
.social-links {
	position: fixed;
    bottom: 10px;
    right: 20px;
    i {
		font-size: 20px;
		padding: 4px;
	}
}

@media(max-width: 450px) {
	.bgmusic {
		padding-left: 15px;
		margin-right: 15px;
	}
	.preorder-btn {
		font-size: 12px;
		top: 20px;
		    right: 70px;
	}
	.hamburger {
		padding-right: 0;
	}

}
.kup a {
	font-weight: 800;
	color: white;
    font-size: 22px;
	text-align: center;
	text-decoration: underline;
}

ul.messages {
	z-index: 10;
	color: white;
	width: 100%;
	background: red;
	display: block;
	position: fixed;
	top: 55px;
	padding: 0;
	margin-left: 0;
	li {
		padding: 10px 20px;
		&.success {
			background-color: green;
		}
		&.error {
			background-color: green;
		}
	}
	.errorlist {
		margin-left: 20px;
	}
}

.icons {
	a {
		color : white;
		font-size: 50px;
		margin-right: 10px;
	}
	span {
		background-size: cover;
	    width: 50px;
	    height: 50px;
		display: inline-block;
	    vertical-align: sub;
	    &.tidal {
			background-image: url('img/icons/tidal.png');
		}
		&.itunes {
			background-image: url('img/icons/itunes.png');
		}
	}
}

.left-side {
	width: 69%;
	display: inline-block;
	vertical-align: top;
	padding-right: 15px;
}
.right-side {
	width: 30%;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 10px;
	img {
		border-radius: 10px;
	}
}


.bottom-side {
	.image {
		width: 32%;
		display: inline-block;
		vertical-align: top;
		margin-right: 1.5%;
		&:last-of-type {
			margin-right: 0;
		}
	}
	img {
		border-radius: 10px;
	}
}

@media(max-width: 768px) {
	.bottom-side .image {
		width: 100%;
	}
}
.bigger {
	font-size: 20px;
}
.blog-area {
	display: block;
	margin-top: 70px;
	width: 1000px;
    margin-left: auto;
    margin-right: auto;
	.col-12 {
		width: 100%;
		vertical-align: top;
		display: inline-block;
	}
	.col-lg-9 {
		width: 75%;
		vertical-align: top;
		display: inline-block;
	}
	.col-lg-3 {
		width: 24%;
		display: inline-block;
		vertical-align: top;
	}
	@media (max-width: 1024px) {
		width: 100%;
	}
}

.feed {
	display: block;
	width: 100%;
    padding: 10px;
    ul {
		padding: 0;
		margin: 0;
		display: block;
		width: 100%;
		li {
			padding: 15px 0;
			padding-bottom: 5px;
			border-bottom: 1px solid #444;
			&:last-of-type {
				border-bottom: none;
			}
			&:first-of-type {
				padding-top: 0;
			}
			.tags {
				ul {
					padding-left: 0;
					li {
						border: none;
						padding: 0;
						margin-right: 10px;
						font-weight: 600;
						float: left;
					}
				}
			}
			.content {
				border: none;
				border-radius: 0;
				padding: 0;
			}
		}
		.title {
			display: block;
			a {
				font-weight: 600;
				font-size: 20px;
				color: white;
			}
		}
		.cat {
			display: block;
		}

		.meta {
			.time {
				float: right;
				color: #aaa;
			}
			.author {
				color: #aaa;
			}
		}
		.content {
			display: block;
			margin-top: 10px;
		}
		.video {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}
}
.sidebar {
	padding-left: 20px;
}
.other-posts {
	.title {
		display: block;
		font-weight: 600;
		font-size: 18px;
	}
	ul {
		padding: 0;
		margin-top: 5px;
	}
	.post a {
		color: white;
		&:hover {
			color: #aaa;
			cursor: pointer;
		}
	}
}

#dialog {
	display: none;
}
.ui-dialog {
	background-color: rgba(255,255,255, 0.5);
	border: 1px solid #777;
	border-radius: 10px;
	color: #333;
	padding: 10px;
}
.ui-corner-all {
	float: right;
	position: absolute;
	right: 0;
	top: 0;
}
.ui-dialog p {
	color: #333;
}
.ui-dialog-title {
	color: #333;
}
.ui-draggable .ui-dialog-titlebar {
	background: none;
	border: none;
}

.ui-button .ui-icon {
    background-image: url('img/ui-icons_777777_256x240.png');
}

.preorder, .order-process {
	padding: 10px;
	margin-top: 75px;
	text-align: center;
	h3 {
		margin-top: 0;
		text-align: left;
	}
	.fail {
		background-color: #FC1414;
		padding: 20px;
		border-radius: 10px;
		a {
			font-weight: 800;
			font-size: 20px;
			color: white;
		}
	}
	.info {
		background-color: #0099CC;
		padding: 20px;
		border-radius: 10px;
	}

	.success {
		padding: 20px;
		border-radius: 10px;
		background-color: #00a000;
		a {
			font-weight: 800;
			font-size: 20px;
			color: white;
		}
	}
	p {
		display: inline-block;
		font-size: 20px;
		text-align: left;
	}

	.back-main-page a {
		color: white;
		padding: 10px 15px;
		border-radius: 10px;
		border:2px solid white;
		display: inline-block;
		margin-right: auto;
		margin-left: auto;
		margin-top: 15px;
		font-size: 14px;
		&:hover {
			background-color: rgba(255,255,255,0.5);
		}
	}
	.payment-container {
		text-align: center;
		border-radius: 10px;
		background-color: rgba(255,255,255,0.9);
		display: inline-block;
		min-width: 500px;
		padding: 20px;
		h2 {
			font-weight: 600;
			font-size: 20px;
			color: #333;
			margin-top: 0;
		}
		@media (max-width: 600px) {
			min-width: 0;
			width: 100%;
		}

	}
	.desc {
		text-align: left;
		p {
			font-size: 16px;
			color: #ccc;
			margin: 0;
			text-align: left;
			line-height: normal;
			margin-bottom: 7px;
		}
	}
	.left-side {
		float: left;
		width: 50%;
		text-align: left;
		p {
			margin-top: 0;
		}
	}
	.right-side {
		width: 50%;
	}
}


.like-post {
	float: right;
	.btn {
		.icon {
			cursor: pointer;
		}
	}
}
.clearfix {
	clear: both;
	display: inline-block;
}

.cookieinfo {
	background-color: #555 !important;
}

.pagination {
	margin-top: 20px;
	.step-links {
		a {
			color: white;
			&:hover {
				color: #bbb;
			}
		}
		.current {
			margin-right: 10px;
			margin-left: 10px;
		}
	}
}
.contact-page {
	width: 1000px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	@media (max-width: 1024px) {
		width: 100%;
	}
}
.form-comment {
	padding-top: 15px;
	color: #333;
	input {
		width: 100%;
		max-width: 300px;
	    border-radius: 4px;
	    padding: 10px;
	    border: 1px solid #ddd;
	    margin-bottom: 5px;
		color: #333;
	}
	textarea {
		width: 100%;
	    border-radius: 4px;
	    padding: 10px;
	    border: 1px solid #ddd;
	    margin-bottom: 5px;
		color: #333;
	}
}

.comment-container {
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;

	.comment-title {
		display: block;
		width: 100%;
		border-bottom: 1px solid #555;
	}
	ul {
		li {
			border: none;
			padding: 10px 5px !important;
		}
	}
	.more {
		display: block;
    	text-align: right;
	}
}

.preloader-small {
    background-image: url(/static/img/5-small-white.svg);
    background-size: 100%;
    height: 20px;
    display: block;
    margin-bottom: 5px;
    width: 20px;
    background-repeat: no-repeat;
}

.fb-stuff {
	text-align: right;
}