{% extends "base.html" %}

{% load static %}
{% load photo_tag %}
{% block content %}
<!-- Slideshow container -->

<div class="slideshow-container">
  {% if images %}
  		{% for image in images %}

  			{% with image|split:'.' as strs %}
  				{% with strs|length as str_arr_len %}
  					{% with str_arr_len|add:'-1' as ext_idx %}
  						{% if strs|get_by_index:ext_idx == 'JPG' or strs|get_by_index:ext_idx == 'jpg' %}
                            <!-- Full-width images with number and caption text -->
                            <div class="img" id="img_{{forloop.counter}}">
                                <a href="{% get_media_prefix %}images/{{ folder }}/{{ image }}" class="open-lightbox"><span class="image-el" style="background-image: url({% get_media_prefix %}images/{{ folder }}/{{ image }})"></span></a>
                            </div>
                        {% endif %}
  					{% endwith %}
  				{% endwith %}
  			{% endwith %}
  		{% endfor %}
  	{% else %}
  		<p>No image available.</p>
  	{% endif %}
  	<div class="clear"></div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(document).ready(function() {
        $(document).keyup(function(e)
        {
            var id = parseInt($('.lightbox-opened img').data('key'))
            console.log(id)
            if (e.keyCode == '37')
            {
                if (id-1 != 0)
                {
                   plusSlides(id-1)
                }
            }
            else if (e.keyCode == '39')
            {
               plusSlides(id+1)
            }
        });
    });
</script>
{% endblock javascript %}
