{% extends "base.html" %}

{% load static %}
{% load templatetags %}

{% block content %}
<!-- ##### Blog Area Start ##### -->
<div class="blog-area">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9">
                <div class="feed">
                    <ul>
                        {% for obj in page_obj.object_list %}
                            <li>
                                <span class="title"><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a></span>
                                <span class="cat">{{ obj.category.title }}</span>
                                <span class="meta">
                                    <span class="author">author: {{ obj.author }}</span>
                                    <span class="time">{{ obj.ctime }}</span>
                                </span>
                                <span class="content">{{ obj.text|safe }}</span>
                                {% if obj.yt_link %}
                                    <span class="video">
                                        <iframe id="player" type="text/html" src="{{ obj.yt_link }}" frameborder="0"></iframe>
                                    </span>
                                {% endif %}
                                {% if obj.tags.all %}
                                <span class="tags">
                                    <ul>
                                        {% for tag in obj.tags.all %}
                                        <li>#{{ tag }} </li>
                                        {% endfor %}
                                    </ul>
                                </span>
                                {% endif %}
                                <span class="like-post">
                                    {% include 'blog/parts/like.html' with obj=obj %}
                                </span>
                                <span class="clearfix"></span>
                                <span class="comment-container">
                                    {% if obj.lastest_comments %}
                                        <span class="comment-title">Komentarze:</span>
                                        <ul>
                                            {% for comment in obj.lastest_comments %}
                                            <li>
                                                <span class="meta">
                                                    <span class="author">{{ comment.name }}</span>
                                                    <span class="time">{{ comment.ctime }}</span>
                                                </span>
                                                <span class="content">{{ comment.content }}</span>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                        {% if obj.comments_total > 2 %}
                                            <span class="more"><a href="{{ obj.get_absolute_url }}">Sprawdź więcej »</a></span>
                                        {% endif %}
                                    {% endif %}
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; pierwsza </a>
                            <a href="?page={{ page_obj.previous_page_number }}">&lsaquo; poprzednia</a>
                        {% endif %}

                        <span class="current">
                            Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}
                        </span>

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">następna &rsaquo;</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">ostatnia &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="sidebar">
                    {% other_posts %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Blog Area End ##### -->

{% endblock %}
