{% extends "base.html" %}

{% load static %}
{% load templatetags %}

{% block meta %}
    <meta property="og:title"         content="{{ post.title }}" />
    <meta property="og:url"           content="{{ SITE_URL }}{{ request.path }}" />
    <meta property="og:description"   content="{{ post.text }}" />
    <meta property="og:image"         content="{{ SITE_URL }}{{ post.image.url }}" />
{% endblock meta %}

{% block content %}
<!-- ##### Blog Area Start ##### -->
<div class="blog-area">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9">
                <div class="feed">
                    <ul>
                        <li>
                            <span class="title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></span>
                            <span class="meta">
                                <span class="author">author: {{ post.author }}</span>
                                <span class="time">{{ post.ctime }}</span>
                            </span>
                            <span class="content">{{ post.text|safe }}</span>
                            {% if post.yt_link %}
                                <span class="video">
                                    <iframe id="player" type="text/html" src="{{ post.yt_link }}" frameborder="0"></iframe>
                                </span>
                            {% endif %}
                            {% if post.tags.all %}
                            <span class="tags">
                                <ul>
                                    {% for tag in post.tags.all %}
                                    <li>#{{ tag }} </li>
                                    {% endfor %}
                                </ul>
                            </span>
                            {% endif %}

                            <!-- Your share button code -->
                            <span class="like-post">
                                {% include 'blog/parts/like.html' with obj=post %}
                            </span>

                            <span class="clearfix"></span>

                            <div class="fb-stuff">
                                <div class="fb-like" data-href="{{ SITE_URL }}{{ request.path }}" data-width="" data-layout="button" data-action="like" data-size="small" data-share="true"></div>
                            </div>

                            <span class="comment-container">
                                {% if post.comment_set.all %}
                                    <span class="comment-title">Komentarze:</span>
                                    <ul>
                                        {% for comment in post.comment_set.all %}
                                        <li>
                                            <span class="meta">
                                                <span class="author">{{ comment.name }}</span>
                                                <span class="time">{{ comment.ctime }}</span>
                                            </span>
                                            <div class="content">
                                                {{ comment.content }}
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </span>
                        </li>
                    </ul>
                    <div id="comment_form_{{ post.id }}" data-init_vue="#comment_form_{{ post.id }}">
                        <vue-comment-form :post-id="{{ post.id }}"></vue-comment-form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="sidebar">
                    {% other_posts %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Blog Area End ##### -->

{% endblock %}
