{% extends "base.html" %}

{% load static %}
{% block body_class %}
<body class="about-page">
{% endblock body_class %}
{% block content %}
<!-- ##### Blog Area Start ##### -->
<div class="about-us">
    <div class="container">
        <div class="row">
          <div class="col-lg-6 image">
            <img src="{% static 'img/about.jpg' %}" style="width:100%">
          </div>
            <div class="col-lg-6 details">
              <h3>Tomasz Mika</h3>
                <p>Piękne dźwięki. Piękne obrazy. Dusza.</p>

                <p>Niech muzyka wychodzi ze stagnacji. Niech słowa piosenek przestaną być bierne. Niech dźwięki i głoski zaczną mówić językiem duszy i rozkołyszą ciało.</p>

                <p>Uwielbiam pisać piosenki i je wykonywać. Dźwięki i teksty towarzyszą mi od najmłodszych lat. Śpiewam i gram na instrumentach. Urodziłem się w USA, jednak wczesne dzieciństwo spędziłem w Polsce. Powróciłem z rodziną do Stanów Zjednoczonych w wieku ośmiu lat i spędziłem tam 6 lat. Potem znów wróciłem do Polski, tym razem na stałe, sporadycznie odwiedzając Stany Zjednoczone. Dorastanie w dwóch krajach stawiało przede mną wiele wyzwań, ale wiele mnie nauczyło – dało mi przede wszystkim: świeże spojrzenie na świat, otwartość na różne kultury, styczność z wieloma środowiskami i historiami ludzkimi. Wszystkie te doświadczenia dostarczają mi mnóstwo inspiracji muzycznych i tekstowych.</p>

                <p>Moja muzyczna droga zaczęła się jeszcze w Stanach Zjednoczonych, gdzie jako nastolatek miałem okazję wystąpić w kilku koncertach jako chórzysta z zespołem Piotra Rubika. Później brałem udział w wielu projektach muzycznych z zespołami, grupami teatralnymi oraz solowo. W którymś momencie uznałem, że tworzenie muzyki jest dla mnie najważniejsze. Zacząłem kierować moje siły i zasoby ku nagrywaniu własnej muzyki. Zacząłem się kształcić w tym kierunku oraz zdobywałem wiedzę i sprzęt potrzebny do realizacji nagrań. Wielokrotnie pisałem i nagrywałem muzykę w prowizorycznych warunkach; w transkontynentalnej podróży, w zatłoczonych, studenckich mieszkaniach czy urywając się od stołu podczas rodzinnych spotkań. W taki sposób nagrałem dwie płyty: „Almagest” i „Awe”. O ile nagrywanie mojej muzyki „w domu” było pasjonujące, wkrótce doszedłem do przekonania, że moje piosenki zasługują na profesjonalną realizację w studiu. Powstała więc moja pierwsza płyta studyjna - „Pył”.</p>
                <p>Skończyłem studia architektoniczne na Politechnice Krakowskiej. Projektowanie budynków, poszukiwanie i rozumienie form, rysunek odręczny oraz sztuki plastyczne pomagały mi w rozwoju muzycznym. Uczestniczyłem i byłem nagradzany w wielu konkursach i przeglądach wokalnych i teatralnych. Zostałem laureatem m.in. „Talentów Małopolski”, wystąpiłem w Piwnicy pod Baranami, otrzymałem nagrodę za najlepszą rolę męską w „Przeglądzie małych form teatralnych w języku angielskim” w teatrze Groteska w Krakowie. Zdobyłem wyróżnienie oraz specjalną nagrodę uczestników na Ogólnopolskim Przeglądzie Piosenki Aktorskiej w Tarnowie.</p>

                <p>Gatunki muzyczne: alternatywna, pop alternatywny, indie rock, piosenka aktorska.</p>

            </div>
        </div>
    </div>
</div>
<!-- ##### Blog Area End ##### -->
{% endblock %}
