{% extends "base.html" %}

{% load static %}
{% block content %}
<!-- ##### Blog Area Start ##### -->
<div class="about-us">
    <div class="container">
        <div class="row">
          <div class="col-lg-6 image">
            <img src="{% static 'img/about.jpg' %}" style="width:100%">
          </div>
            <div class="col-lg-6 details">
              <h3>Tomasz Mika</h3>
              <p>
                Piękne dźwięki. Obrazy. Przygoda. Miłość.</p>

  <p>Czas wracać do źródeł. Czas zajrzeć w głąb duszy i dać jej głos. Zbyt długo muzyka nie niosła żadnego przekazu. Już czas, aby znów zaczęła zmieniać świat. Muzyka musi nieść ładunek. Emocje. Nie może być bierna. Oto  program mojej muzycznej działalności.</p>



  <p>Uwielbiam pisać piosenki i je wykonywać. Dźwięki i teksty towarzyszą mi nieustannie. Od młodzieńczych lat śpiewam i gram na instrumentach. Urodziłem się w U.S.A., jednak wczesne dzieciństwo spędziłem w Polsce. Powróciłem z rodziną do U.S.A. w wieku ośmiu lat i spędziłem tam 6 lat. Potem znów wróciłem do Polski na stałe, sporadycznie odwiedzając Stany Zjednoczone. Dorastanie w dwóch krajach stawiało przede mną wiele wyzwań, ale wiele mnie nauczyło: dało przede wszystkim świeże spojrzenie na świat, otwartość na różne kultury, styczność z wieloma środowiskami i historiami ludzkimi. Wszystkie te doświadczenia dostarczają mi mnóstwo inspiracji muzycznych i tekstowych.</p>

  <p>Moja muzyczna droga zaczęła się jeszcze w U.S.A., gdzie jako nastolatek miałem okazje wystąpić w kilku koncertach jako chórzysta z zespołem Piotra Rubika. Później brałem udział w wielu projektach muzycznych z zespołami, grupami teatralnymi oraz solowo. W którymś momencie uznałem, że tworzenie muzyki jest dla mnie najważniejsze. Zacząłem kierować moje siły i zasoby ku nagrywaniu własnej muzyki. Organizowałem sobie prywatne kształcenie w tym kierunku oraz zdobywałem wiedzę i sprzęt potrzebny do realizacji nagrań. Wielokrotnie tworzyłem i nagrywałem muzykę w prowizorycznych warunkach; w transkontynentalnej podróży, w zatłoczonych, studenckich mieszkaniach czy urywając się od stołu podczas rodzinnych spotkań. W ten sposób “w domu” nagrałem dwie płyty: Almagest i AWE. Trzecia, po raz pierwszy zostanie nagrana w studio.</p>

  <p>Skończyłem studia architektoniczne na Politechnice Krakowskiej. Projektowanie budynków, poszukiwanie i rozumienie form, rysunek i sztuki plastyczne pomagały mi w rozwoju muzycznym. Uczestniczyłem i byłem nagradzany w wielu konkursach i przeglądach wokalnych i teatralnych. Zostałem laureatem m.in. „Talentów Małopolski”, wystąpiłem w Piwnicy pod Baranami, otrzymałem nagrody za najlepszą rolę męską w „Przeglądzie małych form teatralnych w języku angielskim” w teatrze Groteska. W Tarnowie zdobyłem wyróżnienie oraz nagrodę uczestników na Ogólnopolskim Przeglądzie PIosenki Aktorskiej.</p>



  <p>Gatunki muzyczny: pop alternatywny, indie rock, elektronika, poezja śpiewana, piosenka aktorska.</p>
            </div>
        </div>
    </div>
</div>
<!-- ##### Blog Area End ##### -->
{% endblock %}
