{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <!-- Title -->
  <title>MIKA - Modern Music</title>

  <!-- Favicon -->
  <link rel="icon" href="img/core-img/favicon.ico">

  <!-- Stylesheet -->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>
  <!-- Preloader -->
  <div class="preloader d-flex align-items-center justify-content-center">
    <div class="lds-ellipsis">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="se-pre-con">
  <img src="{% static 'img/svg/home.svg' %}" />
</div>
  <!-- ##### Header Area Start ##### -->
  <header class="header-area" id="navbar">

    <!-- Navbar Area -->
    <div class="oneMusic-main-menu">
      <div class="classy-nav-container breakpoint-off">
        <div class="container">
          <!-- Menu -->
          <nav class="classy-navbar justify-content-between" id="oneMusicNav">
            <a href="{% url 'index' %}" class="nav-brand dynamic"><img src="{% static 'img/logo.png' %}" alt=""></a>
            <a href="{% url 'index' %}" class="nav-brand static"><img src="{% static 'img/logo_white.png' %}" alt=""></a>
            <div class="classy-menu">
              <div class="classynav">
                <ul class="menu">
                  <li><a href="{% url 'index' %}">Glowna</a></li>
                  <li><a href="#">Albumy</a>
                    <ul class="dropdown">
                      <li><a href="{% url 'index' %}">Home</a></li>
                      <li><a href="{% url 'albums_store' %}">Albums</a></li>
                    </ul>
                  </li>
                  <li><a href="{% url 'blog' %}">O mnie</a></li>
                  <li><a href="{% url 'blog' %}">Galeria</a></li>
                  <li><a href="{% url 'contact' %}">Kontakt</a></li>
                </ul>
                <ul class="bgmusic">
                  <li id="musicplay"><i class="fa fa-play"></i></li>
                  <li id="musicpause"><i class="fa fa-pause"></i></li>
                </ul>
              </div>
              <!-- Nav End -->

            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ##### Header Area End ##### -->



  {% block content %}{% endblock %}




  <!-- ##### Footer Area Start ##### -->
  <footer class="footer-area">
    <div class="container">
      <div class="row d-flex flex-wrap align-items-center">
        <div class="col-12 col-md-6">
          <a href="#"><img src="{% static 'img/core-img/logo.png' %}" alt=""></a>
          <p class="copywrite-text"><a href="#"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>

          <div class="col-12 col-md-6">
            <div class="footer-nav">
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Albums</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->

    <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>

    <script>
    var data = {
      source: "{% static '/audio/Virgo_Jingle.mp3' %}",
    };

    </script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
  </body>

  </html>
