{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <!-- Title -->
  <title>MIKA</title>

  <!-- Favicon -->
  <link rel="icon" href="{% static 'img/favicon.ico' %}">

  <!-- Stylesheet -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/jquery/jquery-ui.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}?{{ VERSION }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,700|Mukta:400,700|Quicksand:400,700&display=swap" rel="stylesheet">
  <script>
  var data = {
    source: "{% static '/audio/Virgo_Jingle.mp3' %}",
    slideIndex: 1
  };
  </script>
  <script>
    var audio = new Audio();
    audio.src = data['source'];
    audio.id = 'audio';
    audio.muted = true;

    audio.volume = 0.05;
    audio.loop = true;
  </script>

</head>

  {% block body_class %}
  <body>
  {% endblock body_class %}
  <div class="se-pre-con">
  <img src="{% static 'img/svg/home.svg' %}" />
</div>
  <!-- ##### Header Area Start ##### -->
  <header class="header-area" id="navbar">

    <!-- Navbar Area -->
    <div class="oneMusic-main-menu">
      <div class="classy-nav-container breakpoint-off">
        <div class="container">
          <!-- Menu -->
          <nav class="classy-navbar justify-content-between" id="oneMusicNav">
            <a href="{% url 'index' %}" class="nav-brand dynamic"><img src="{% static 'img/logo.png' %}" alt=""></a>
            <a href="{% url 'index' %}" class="nav-brand static"><img src="{% static 'img/logo_white.png' %}" alt=""></a>
            <a class="preorder-btn" href="{% url 'albums_pyl' %}#preorder" style="font-weight: 600;">Zamów „Pył"</a>
            <div class="classy-menu">
              <div class="classynav">
                <ul class="menu">
                  <li><a href="{% url 'index' %}">Główna</a></li>
                  <li class="nav-dropdown"><a href="#">Albumy</a>
                    <ul class="dropdown">
                        <li><a href="{% url 'albums_pyl' %}" style="font-weight: 600;">Pył</a></li>
                        <li><a href="{% url 'albums_awe' %}">Awe</a></li>
                        <li><a href="{% url 'albums_almagest' %}">Almagest</a></li>

                    </ul>
                  </li>
                  <li><a href="{% url 'about' %}">O mnie</a></li>
                  <li><a href="{% url 'gallery' %}">Galeria</a></li>
                  <li><a href="{% url 'contact' %}">Kontakt</a></li>
                </ul>
                <ul class="bgmusic">
                  <li id="musicplay"><i class="fa fa-play"></i></li>
                  <li id="musicpause"><i class="fa fa-pause"></i></li>
                </ul>
              </div>
              <!-- Nav End -->

            </div>
            <span class="hamburger">
                <i class="fa fa-bars"></i>
            </span>
            <div class="mobile-menu" style="display: none;">
                <ul class="menu">
                  <li><a href="{% url 'index' %}">Główna</a></li>
                  <li class="nav-dropdown"><a href="#">Albumy</a>
                    <ul class="sub">
                        <li><a href="{% url 'albums_pyl' %}" style="font-weight: 600;">Pył</a></li>
                        <li><a href="{% url 'albums_awe' %}">Awe</a></li>
                        <li><a href="{% url 'albums_almagest' %}">Almagest</a></li>

                    </ul>
                  </li>
                  <li><a href="{% url 'about' %}">O mnie</a></li>
                  <li><a href="{% url 'gallery' %}">Galeria</a></li>
                  <li><a href="{% url 'contact' %}">Kontakt</a></li>
                </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ##### Header Area End ##### -->
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}


  {% block content %}{% endblock %}
  <div id="dialog" class="like-post-dialog" title="Basic dialog">
      <p>This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
  </div>



  <!-- ##### Footer Area Start ##### -->
  <footer class="footer-area">
    <div class="container">
      <div class="row d-flex flex-wrap align-items-center">
        <div class="col-12 col-md-6">
          <p class="copywrite-text"><a href="#">
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | by Patryk Makuch</p>
          </div>
        </div>
      </div>
  </footer>

  <div class="social-links">
      <a href="https://www.youtube.com/channel/UCV1SSJ-YZ8qG1_wCC-Pkd6Q" data-toggle="tooltip" data-placement="top" title="Youtube"><i class="fa fa-youtube" aria-hidden="true"></i></a>
      <a href="https://www.facebook.com/MIKAmuzyka/" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="https://www.instagram.com/tomasz_mika_muzyka/" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="https://twitter.com/Mika_Muzyka?fbclid=IwAR0n8dsHIxoUM2HhElJeehGHBtAAjNDd8bXxMrPY51ZfPBlncWUvB9fX428" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="https://open.spotify.com/artist/7sfo31WlAvO9zpFrwOq1if?si=c9j_JeMOQOW7ndxRPhp6tw" data-toggle="tooltip" data-placement="top" title="Spotify"><i class="fa fa-spotify" aria-hidden="true"></i></a>

  </div>

    <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'js/jquery/jquery-ui.min.js' %}"></script>

    <script src="{% static 'js/global/setup.js' %}?{{ VERSION }}"></script>
    <script src="{% static 'js/global/js-components.js' %}?{{ VERSION }}"></script>
    <script src="{% static 'js/global/general.js' %}?{{ VERSION }}"></script>
    <script src="{% static 'js/main.js' %}?{{ VERSION }}"></script>
    <script src="{% static 'js/slider.js' %}?{{ VERSION }}"></script>
    <script src="{% static 'js/music.js' %}?{{ VERSION }}"></script>
    <script src="{% static 'js/blog.js' %}?{{ VERSION }}"></script>

    <script type="text/javascript" id="cookieinfo"
      src="{% static 'js/vendor/cookieinfo.min.js' %}" data-close-text="Akceptuję"
      data-message="Używamy plików cookie, aby poprawić Twoje wrażenia. Kontynuując odwiedzanie tej witryny, zgadzasz się na korzystanie z plików cookies." data-moreinfo="https://pl.wikipedia.org/wiki/HTTP_cookie" data-linkmsg="Więcej informacji" >
    </script>


    <script type="text/javascript">
        document._scd = {};


        document._scd['data'] = {
            'music': {% if MUSIC_PLAYING %}true{% else %}false{% endif %},
            'slides': [
              '{% static "img/bg/bg_1.jpg" %}',
              '{% static "img/bg/bg_2.jpg" %}',
              '{% static "img/bg/bg_3.jpg" %}',
              '{% static "img/bg/bg_4.jpg" %}',
              '{% static "img/bg/bg_5.jpg" %}',
              '{% static "img/bg/bg_6.jpg" %}',
            ],
        };

        document._scd['routing'] = {
            'music_play': "{% url 'music_play' %}",
            'music_stop': "{% url 'music_stop' %}",
            'like_post': "{% url 'like_post' %}",
            'order_success': "{% url 'order_success' %}",
            'order_fail': "{% url 'order_fail' %}",
            'order_cancel': "{% url 'order_cancel' %}",

            'order_create': "{% url 'order_create' %}",
        };
        $(document).bind('ready', function() {
            $('body').trigger('initComponents', ['base']);
        });
    </script>
    {% block javascript %}{% endblock javascript %}
    </body>
 </html>
