{% extends "base.html" %}

{% load static %}
{% block content %}
<!-- Slideshow container -->
<div class="gallery-main-container">
	<div class="img">
		<span class="placeholder-img"></span>
		<span class="placeholder-img"></span>
		<a href="{% url 'akustycznie' %}"><span class="image-el" style="background-image: url('{% get_media_prefix %}images/akustycznie/IMG_0097.JPG')"></span></a>
		<p>Akustycznie</p>
	</div>
	<div class="img">
		<span class="placeholder-img"></span>
		<span class="placeholder-img"></span>
		<a href="{% url 'koncert' %}"><span class="image-el" style="background-image: url('{% get_media_prefix %}images/koncert/652248533385330338453444552379226316IMG_0017.JPG')"></span></a>
		<p>Koncert</p>
	</div>
	<div class="img">
		<span class="placeholder-img"></span>
		<span class="placeholder-img"></span>
		<a href="{% url 'sesja_2016' %}"><span class="image-el" style="background-image: url('{% get_media_prefix %}images/sesja_2016/podglad.jpg')"></span></a>
		<p>Sesja 2016</p>
	</div>
	<div class="img">
		<span class="placeholder-img"></span>
		<span class="placeholder-img"></span>
		<a href="{% url 'sesja_2017' %}"><span class="image-el" style="background-image: url('{% get_media_prefix %}images/sesja_2017/Niki.jpg')"></span></a>
		<p>Sesja 2017</p>
	</div>
	<div class="img">
		<span class="placeholder-img"></span>
		<span class="placeholder-img"></span>
		<a href="{% url 'sesja_2019' %}"><span class="image-el" style="background-image: url('{% get_media_prefix %}images/sesja_2019/podglad.jpg')"></span></a>
		<p>Sesja 2019</p>
	</div>
	<div class="img">
		<span class="placeholder-img"></span>
		<span class="placeholder-img"></span>
		<a href="{% url 'sesja_ayz' %}"><span class="image-el" style="background-image: url('{% get_media_prefix %}images/sesja_ayz/6524553453444552379226316IMG_0084.JPG')"></span></a>
		<p>Sesja AYZ</p>
	</div>
  	<div class="clear"></div>
</div>

{% endblock %}

{% block javascript %}

{% endblock javascript %}
