{% extends "base.html" %}

{% load static %}
{% block body_class %}
<body class="index">
{% endblock body_class %}
{% block content %}
<!-- ##### Hero Area Start ##### -->
<section class="hero-area">
    <!-- Slide Img -->
    <div id="slider">
      <section class="home-info">
        <span class="phrase-0" style="display: none;">
            <p>Nowa płyta „Pył" już dostępna!</p>
            <a href="https://tomaszmika.bandcamp.com/releases" class="link-to-preoreder">Zamów teraz!</a>
        </span>

        <span class="phrase-1" style="display: none;">
            <p>Piękne dźwięki. Piękne obrazy. Dusza.</p>
            <h3>Tomasz Mika - Muzyka</h3>
        </span>
      </section>
      <ul>
        <li class="bg-img" style="background-image: url({% static 'img/bg/bg_1.jpg' %}); display: none;"></li>
        <li class="bg-img" style="background-image: url({% static 'img/bg/bg_2.jpg' %}); display: none;"></li>
        <li class="bg-img" style="background-image: url({% static 'img/bg/bg_3.jpg' %}); display: none;"></li>
        <li class="bg-img" style="background-image: url({% static 'img/bg/bg_4.jpg' %}); display: none;"></li>
        <li class="bg-img" style="background-image: url({% static 'img/bg/bg_5.jpg' %}); display: none;"></li>
        <li class="bg-img" style="background-image: url({% static 'img/bg/bg_6.jpg' %}); display: none;"></li>
      </ul>
    </div>

</section>
<!-- Slide Content -->
<div class="container">
    <div class="row">
        <section class="album1">
        <h3>Pył</h3>
        <span class="image">
            <img src="{% static 'img/cover/pyl.png' %}" alt="" border="">
        </span>
        <div class="details">
          <p>Ulotne chwilę i wspomnienia westchnień nad odkrytym pięknem. Zapachy szczęścia i pełni życia. Debiut studyjny. W całości w języku polskim. Liryczne teksty, taneczne rytmy oraz uwspółcześnione retro brzmienia. Dostępny na platformach streamingowych, w wersji fizycznej na CD oraz w wersji cyfrowej na serwisie Bandcamp oraz Itunes.</p>
          <span class="more"><a href="{% url 'albums_pyl' %}">wiecej ≫</a></span>
        </div>
      </section>

      <section class="album2">
      <h3>AWE - At World’s End</h3>
      <div class="details">
        <p>Album, który stanowi dokumentacje strumienia świadomości z podróży, podczas których powstawał. Zdominowany przez motywy bliskości, miłości i wiary w elektroniczno-rockowej oprawie muzycznej.</p>
        <span class="more"><a href="{% url 'albums_awe' %}">wiecej ≫</a></span>
      </div>
      <span class="image">
          <img src="{% static 'img/cover/awe.jpg' %}" alt="" border="">
      </span>
    </section>

      <section class="album3">
      <h3>Almagest</h3>
      <span class="image">
          <img src="{% static 'img/cover/almagest.jpg' %}" alt=""  border="">
      </span>
      <div class="details">
      <p>Almagest to zbiór różnych pomysłów muzycznych i wynik bardzo wielu inspiracji z pierwszych lat twórczości. Jest to raczej kolaż bardziej niż album. Charakteryzuje się „garażowym” brzmieniem i eklektyzmem.</p>
      <span class="more"><a href="{% url 'albums_almagest' %}">wiecej ≫</a></span>
      </div>
    </section>

    <section class="preorder" id="preorder">

        <h3>Sprzedaż „Pył”</h3>
        <p class="kup"><a href="https://tomaszmika.bandcamp.com/releases">Zamów wersje cyfrową lub wersje fizyczną płyty z książeczką z tekstami oraz ilustracjami piosenek klikając tutaj.</a></p>
        <p>Album jest także dostępny do posłuchania na Spotify, Apple Music, Tidal, Soundcloud, Youtube Music oraz wielu innych platformach streamingowych.</p>
    </section>
    </div>
</div>
{% endblock %}
