{% extends "base.html" %}

{% load static %}
{% block body_class %}
<body class="index">
{% endblock body_class %}
{% block content %}
<!-- ##### Hero Area Start ##### -->
<section class="hero-area">
    <!-- Slide Img -->
    <div id="slider">
      <section class="home-info">
        <p>Przygoda. Miłość. Czas wracać do żródeł.</p>

        <h3>Tomasz Mika - Muzyka</h3>
      </section>
      <ul>

        <li class="bg-img" style="background-image: url({% static 'img/bg/bg_1.jpg' %}); display: none;"></li>
        <li class="bg-img" style="background-image: url({% static 'img/bg/bg_2.jpg' %}); display: none;"></li>
        <li class="bg-img" style="background-image: url({% static 'img/bg/bg_3.jpg' %}); display: none;"></li>
        <li class="bg-img" style="background-image: url({% static 'img/bg/bg_4.jpg' %}); display: none;"></li>
        <li class="bg-img" style="background-image: url({% static 'img/bg/bg_5.jpg' %}); display: none;"></li>
        <li class="bg-img" style="background-image: url({% static 'img/bg/bg_6.jpg' %}); display: none;"></li>
      </ul>
    </div>
    <!-- Slide Content -->
    <div class="container">
        <div class="row">

          <h1>Odkrywaj</h1>

          <section class="album1">
          <h2>Almagest</h2>

          <p>Almagest to zbiór różnych pomysłów muzycznych i wynik bardzo wielu inspiracji z pierwszych lat twórczości. Jest to raczej kolaż bardziej niż album. Charakteryzuje się “garażowym” brzmieniem i eklektyzmem.
          </p>
        </section>

          <section class="album2">
          <h2>AWE - At World’s End</h2>

          <p>Album, który stanowi dokumentacje strumienia świadomości z podróży, podczas których powstawał. Zdominowany przez motywy bliskości, miłości, i wiary w elektroniczno-rockowej oprawie muzycznej,
          </p></section>
        </div>
    </div>
</section>
{% endblock %}
