{% extends "base.html" %}

{% load static %}
{% block body_class %}
<body class="index">
{% endblock body_class %}
{% block content %}
<!-- ##### Hero Area Start ##### -->
<div class="container">
    <div class="row">
      <section class="album1">
      <h3>Almagest</h3>
      <span class="image">
          <img style="background-image: url({% static 'img/cover/almagest.jpg' %});" alt=""  border="">
      </span>
      <div class="details">
      <p>Almagest to zbiór różnych pomysłów muzycznych i wynik bardzo wielu inspiracji z pierwszych lat twórczości. Jest to raczej kolaż bardziej niż album. Charakteryzuje się “garażowym” brzmieniem i eklektyzmem.
      </p>
      </div>
    </section>
    <section class="preview">
        <h3>Preview</h3>
        <span class="video">
            <iframe id="player" type="text/html" src="http://www.youtube.com/embed/h97-yQ5Wl1U" frameborder="0"></iframe>
            <iframe id="player" type="text/html" src="http://www.youtube.com/embed/F6x9YQ-NJsg" frameborder="0"></iframe>
            <iframe id="player" type="text/html" src="http://www.youtube.com/embed/LCZBQ9AIqDg" frameborder="0"></iframe>
        </span>
        <div class="lists" id="songs-list">
            <ul>
                <li></li>
            </ul>
        </div>
            </section>
    <section class="songs">
    </section>
    </div>
</div>
{% endblock %}
