{% extends "base.html" %}

{% load static %}
{% block body_class %}
<body class="album-page">
{% endblock body_class %}

{% block content %}
<!-- ##### Hero Area Start ##### -->
<div class="container">
    <div class="row">
      <section class="album1">
      <h3>AWE - At World’s End</h3>
      <span class="image">
          <img src="{% static 'img/cover/awe.jpg' %}" alt=""  border="">
      </span>
      <div class="details">
      <p>Album, który stanowi dokumentacje strumienia świadomości z podróży, podczas których powstawał. Piosenki w większości w języku angielskim. Zdominowany przez motywy bliskości, miłości i wiary w elektroniczno-rockowej oprawie muzycznej. Album dostępny na platformach streamingowych.</p>
    <a href="https://open.spotify.com/album/0x4xwlWmKmb1L2Q7SbGR4a?si=u2cV0ELrTxuiV04PfGAdKw&fbclid=IwAR16Xh4yY8AMeAEGFVM95qyycyo7tPfbqpnJ4C8PFAGbV5gcPJ7sOPHhgIo"><i class="fa fa-spotify"></i></a>
    <div class="lists" id="songs-list">
        <h4>Lista Piosenek</h4>
        <ul>
            <li>1. Hope</li>
            <li>2. Make Me</li>
            <li>3. King of Reason</li>
            <li>4. Virgo</li>
            <li>5. Dopomóż</li>
            <li>6. What Do You Want?</li>
            <li>7. Chram</li>
            <li>8. Far From Home</li>
            <li>9. Bądź Blisko</li>
        </ul>
    </div>
      </div>
    </section>
    <section class="preview">
        <h4>Preview</h4>
        <span class="video">
            <iframe id="player" type="text/html" src="https://www.youtube.com/embed/jvItJBZv-Nc" frameborder="0"></iframe>
            <iframe id="player" type="text/html" src="https://www.youtube.com/embed/eHEvDZoZqyo" frameborder="0"></iframe>
            <iframe id="player" type="text/html" src="https://www.youtube.com/embed/S_cI50AjZCs" frameborder="0"></iframe>
        </span>
    </section>
    </div>
</div>
{% endblock %}
