{% extends "base.html" %}

{% load static %}
{% block body_class %}
<body class="album-page">
{% endblock body_class %}
{% block content %}
<!-- ##### Hero Area Start ##### -->
<div class="container">
    <div class="row">
      <section class="album1">
      <h3>Pył</h3>
      <span class="image">
          <img src="{% static 'img/cover/pyl.png' %}" alt=""  border="">
      </span>
      <div class="details">
      <p>Ulotne chwilę i wspomnienia westchnień nad odkrytym pięknem. Zapachy szczęścia i pełni życia. Debiut studyjny. W całości w języku polskim. Liryczne teksty, taneczne rytmy oraz uwspółcześnione retro brzmienia. Dostępny na platformach streamingowych, w wersji fizycznej na CD oraz w wersji cyfrowej na serwisie Bandcamp oraz Itunes. od 02.02.2020.</p>
        <div class="lists" id="songs-list">
            <h4>Lista Piosenek</h4>
            <ul>
                <li>1. Kiss</li>
                <li>2. Dobre sny</li>
                <li>3. Jabłka</li>
                <li>4. Niebo złote Ci otworzę</li>
                <li>5. W podcieniach stałem</li>
                <li>6. Przyjdź</li>
                <li>7. Tylko, tylko</li>
                <li>8. Wierzę Ci</li>
                <li>9. Palcem planety obracasz</li>
                <li>10. Chcę dać Ci mój czas</li>
                <li>11. Dziś jest inaczej</li>
                <li>12. Piosenka wieczorna</li>
            </ul>
        </div>
      </div>

    </section>
    <section class="preview">
        <h4>Preview</h4>
        <span class="video">
            <iframe id="player" type="text/html" src="https://www.youtube.com/embed/5qfomEZ--5M" frameborder="0"></iframe>
        </span>
    </section>
    {% include 'includes/order.html' %}
    </div>
</div>
{% endblock %}
