{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="order-form">
    <div class="container">
        <div class="row">

            <section class="preorder" id="preorder">
                <h3>Sprzedaż „Pył”</h3>
                <div class="left-side">
                    <p>Zamów wersję fizyczną CD z książeczką z tekstami oraz ilustracjami piosenek wypełniając formularz poniżej (płatność przelewem).</p>
                    <span class="price">cena: 30.00 zl + Przesyłka: 4.10 zł - list ekonomiczny</span>
                    <span class="account-num">Płyta zostanie do Ciebie wysłana po zaksięgowaniu wpłaty. Numer konta do zapłaty:
                        <span class="num">86 1020 4984 0000 4402 0134 9232</span>
                    </span>
                    <p>W tytule przelewu wpisz:  „TWOJE NAZWISKO - PYŁ”</p>
                </div>
                <div class="right-side">
                    <span class="image">
                        <img src="{% static 'img/gallery' %}/sesja_2020/podglad4.jpg" alt=""  border="">
                    </span>
                </div>
                <span class="order">Zamów, wypełniając poniższy formularz:</span>
                <div class="contact-form-area">
                    {% if message_sent %}
                    <p>Płyta zostanie do Ciebie wysłana.</p>
                    {% else %}
                    <form method="post" action="">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="form-group wow fadeInUp" data-wow-delay="200ms">
                                    <div class="error-form">{{ form.errors.email }}</div>
                                    {{ form.email }}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group wow fadeInUp" data-wow-delay="300ms">
                                    <div class="error-form">{{ form.errors.subject }}</div>
                                    {{ form.subject }}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group wow fadeInUp" data-wow-delay="300ms">
                                    <div class="error-form">{{ form.errors.number }}</div>
                                    {{ form.number }}
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group wow fadeInUp" data-wow-delay="400ms">
                                    <div class="error-form">{{ form.errors.adres_to_send }}</div>
                                    {{ form.adres_to_send }}
                                </div>
                            </div>
                            <button class="btn oneMusic-btn mt-30 send-form" type="submit">Zaplac <i class="fa fa-angle-double-right"></i></button>
                            <button class="btn oneMusic-btn mt-30" type="reset" name="reset" value="Clear Form">Wyczyść formularz</button>
                        </div>
                    </form>
                    {% endif %}
                </div>
                <p class="kup"><a href="https://tomaszmika.bandcamp.com/releases">Możesz również zamówić wersję cyfrową lub wersje fizyczną CD z książeczką z tekstami oraz ilustracjami piosenek przez serwis Bandcamp, klikając tutaj.</a></p>
                <p>Album jest także dostępny do posłuchania na Spotify, Apple Music, Tidal, Soundcloud, Youtube Music oraz wielu innych platformach streamingowych.</p>
                <div class="icons">
                    <a href="https://tomaszmika.bandcamp.com/releases"><i class="fa fa-bandcamp"></i></a>
                    <a href="https://www.youtube.com/watch?v=8Dw9JfAKSc0&list=OLAK5uy_kzRSRhMUWXGHpOHD8-o4t3RuYkak1q-nk"><i class="fa fa-youtube"></i></a>
                    <a href="https://open.spotify.com/album/6SLUXZJKVSl6P5jHRlpb9r?si=gcGt5LwRTKOGYKj-ry1aSg"><i class="fa fa-spotify"></i></a>
                    <a href="https://soundcloud.com/ayzon-1/sets/pyl"><i class="fa fa-soundcloud"></i></a>
                    <a href="https://tidal.com/album/128782276"><span class="tidal"></span></a>
                    <a href="https://music.apple.com/pl/album/py%C5%82/1495812517"><span class="itunes"></span></a>
                </div>
            </section>
        </div>
    </div>
</div>

{% endblock %}
