{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="order-process">
    <div class="container">
        <div class="row">
            <h1>Zaplac po przez:</h1>
            <!-- writes out the form tag automatically -->
            <span class="cena"></span>
            <div id="paypal-button-container"></div>
        </div>
    </div>
</div>
{# tomek id #AWiaPNzYoZQpydxjlxRcg-moV4E-ciHtiTBcWicOgaqVZlQb5xARnW9ELcP5u9ZMGIavP9Lh5c_d7o58 #}
{% endblock %}

{% block javascript %}
	<script src="https://www.paypal.com/sdk/js?client-id={{ P_AYPAL }}&currency=PLN"></script>
    <script>
        paypal.Buttons({
        	style: {
			  shape: 'pill',
			  color: 'gold',
			  layout: 'vertical',
			  label: 'paypal',
			},
		    createOrder: function(data, actions) {
		      // This function sets up the details of the transaction, including the amount and line item details.
		      return actions.order.create({
		        purchase_units: [{
		          amount: {
		            value: {{ PR1C3 }}
		          }
		        }]
		      });
		    },
		    onApprove: function(data, actions) {
				return actions.order.capture().then(function(details) {
					window.location.href = document._scd['routing']['order_success'];
				});
			},
			onError: function (err) {
				window.location.href = document._scd['routing']['order_fail'];
			},
			onCancel: function (data) {
				window.location.href = document._scd['routing']['order_cancel'];
			}
		}).render('#paypal-button-container');
    </script>
{% endblock javascript %}