{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="order-process">
    <div class="container">
        <div class="row">
            <div class="success">
                <p>Zamowienie zostalo przyjete.
                Wkroce zostanie wyslane.
                Zostaniesz wyslan potwierdzenie na e-maila.</p>
            </div>
            <span class="back-main-page"><a href="{% url 'index' %}">Wroc do Strony Glownej</a></span>
        </div>
    </div>
</div>

{% endblock %}
